<template name="map_message">
<ul id="map_message" class="ui-layout-south">
  {{#each allMsgs}}
    <li>
      <span>{{timeChinese this.time}}</span>
      <span class="badge badge-success">{{roomName this.room}}</span>
      <span class="badge">{{typeChinese this.type}}</span>
      {{#if typeChat}}
        <span>{{getNick this.user}}：</span>
        <span>{{this.msg}}</span>
      {{/if}}
      {{#if typeSystem}}
        <span>{{getNick this.user}}</span>
        <span>{{this.msg}}</span>
      {{/if}}
      {{#if typeDice}}
        {{#if this.result}}
          {{#if this.isHide}}
            <span class="badge badge-inverse">暗骰</span>
          {{/if}}
          <span>{{getNick user}}為{{this.who}}擲了一次{{this.name}}骰{{#if this.note}}（{{this.note}}）{{/if}} {{diceResult}}</span>
        {{else}}
          <span>擲骰結果載入中...</span>
        {{/if}}
      {{/if}}
    </li>
  {{/each}}
</ul>
</template>

<body>
  <!-- 編輯modal form -->
  {{> map_editForm}}
</body>

<template name="main_map">
  <!-- 地圖主區塊 -->
  <div class="ui-layout-center" id="map">
    {{> map_svg mapData}}
  </div>
</template>

<!-- 編輯modal form -->
<template name="map_editForm">
  <form action="javascript:" id="map_editForm" class="modal hide fade form-horizontal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4>地圖物件編輯器</h4>
    </div>
    <div class="modal-body">
      {{#each editing}}
        <div>
          <i class="icon-ban-circle pull-right" title="取消修改"></i>
          {{#if this._id}}
            <i class="icon-trash pull-right" title="刪除資料"></i>
          {{/if}}
          <i class="icon-ok pull-right" title="儲存修改"></i>
          {{#if isType 'affect' this.type}}
            {{> map_info_affect_edit}}
          {{/if}}
          {{#if isType 'land' this.type}}
          {{/if}}
          {{#if isType 'unit' this.type}}
          {{/if}}
        </div>
      {{/each}}
    </div>
  </form>
</template>

<!-- 地圖 -->
<template name="map_svg">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="{{totalWidth}}" height="{{totalHeight}}">
    <svg x="{{marginLeft}}" y="{{marginTop}}">
      <g transform="{{transform}}">
        <g class="girdLabel">
          {{#each gridLabel}}
            <rect x="{{left}}" y="{{top}}" width="{{width}}" height="{{height}}"></rect>
            <text x="{{textLeft}}" y="{{textTop}}">{{text}}</text>
          {{/each}}
          {{#each grids}}
          {{/each}}
        </g>
      </g>
    </svg>
  </svg>
</template>
<template name="map_grid">
</template>

<!-- 資訊面板 -->
<template name="map_info">
  <form action="javascript:" class="form-inline ui-layout-west" id="map_info">
    <!-- 當前輪數，前後輪連結 -->
    <div class="round">
      {{#if prevRound}}
        <a href="{{prevRound}}" class="pull-left">上一輪</a>
      {{/if}}
      <a href="javascript:" class="go">第{{nowRound}}輪</a>
      {{#if nextRound}}
        <a href="{{nextRound}}" class="pull-right">下一輪</a>
      {{else}}
        {{#if isAdm}}
          <a href="javascript:" class="pull-right newRound">推進下一輪</a>
        {{/if}}
      {{/if}}
    </div>
    <section>
      <header>檢視設定</header>
      <div class="content" style="display:none;">
        地圖顯示尺寸：<input type="number" class="span1 zoom" min="1" step="1" value="100" />％
      </div>
    </section>
    <section>
      <header>效應資訊
        {{#if isAdm}}
          <a href="javascript:" class="pull-right" data-fn="add" data-type="affect" title="新增效應">新增</a>
          <a href="javascript:" class="pull-right" data-fn="editAll" data-type="affect" title="編輯全部效應">編輯全部</a>
          <a href="javascript:" class="pull-right" data-fn="edit" data-type="affect" title="編輯已展開的效應">編輯所選</a>
        {{/if}}
      </header>
      <div class="content" style="display:none;">
        {{#if hasDetail 'affect'}}
          {{#each allDetail 'affect'}}
            {{> map_info_affect}}
          {{/each}}
        {{else}}
          目前沒有任何資料！
        {{/if}}
      </div>
    </section>
  </form>
</template>

<!-- 當前輪數，前後輪連結 -->
<template name="map_info_round">
  <div id="map_info_round"></div>
</template>
<!-- 顯示效應資訊 -->
<template name="map_info_affect">
  <section data-id="{{this._id}}">
    <header>
      {{this.name}}
    </header>
    <div class="content" style="display:none;">
      效應中止回合：{{this.round}}
      <br />
      {{{this.showDesc}}}
      {{#if isAdm}}
        <br />
        {{{this.hideDesc}}}
      {{/if}}
    </div>
  </section>
</template>
<!-- 編輯效應資訊 -->
<template name="map_info_affect_edit">
  名稱：{{this.name}}
  <br />
  效應中止回合：{{this.round}}
  <br />
  {{{this.showDesc}}}
  <br />
  {{{this.hideDesc}}}
</template>

<template name="map_table">
{{#if loaded}}
  <table id="map_table">
    <thead>
      <th>Y\X</th>
      {{#each sizeX}}
        <th>{{this}}</th>
      {{/each}}
      <th>X/Y</th>
    </thead>
    <tbody>
      {{#each sizeY}}
        <tr>
          <th>{{this}}</th>
          {{#each GridsRow this}}
            {{#isolate}}
              <td data-x="{{x}}" data-y="{{y}}" data-pos="{{x}},{{x}}">{{x}},{{y}}</td>
            {{/isolate}}
          {{/each}}
          <th>{{this}}</th>
        </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <th>Y/X</th>
      {{#each sizeX}}
        <th>{{this}}</th>
      {{/each}}
      <th>X\Y</th>
    </tfoot>
  </table>
{{/if}}
</template>

<!--
  {{#if loaded}}
    {{#isolate}}
      <section>
        <header>
          效應資訊
          {{#if isAdm}}
            <a href="javascript:" class="pull-right" data-fn="add" data-type="affect" title="新增效應">新增</a>
            <a href="javascript:" class="pull-right" data-fn="editAll" data-type="affect" title="編輯全部效應">編輯全部</a>
            <a href="javascript:" class="pull-right" data-fn="edit" data-type="affect" title="編輯已展開的效應">編輯所選</a>
          {{/if}}
        </header>
        <div class="content" style="display:none;">
          {{#if hasAffect}}
            {{#each allAffect}}
              {{#isolate}}
                <section data-id="{{_id}}">
                  <header>
                    {{name}}
                  </header>
                  <div class="content" style="display:none;">
                    效應中止回合：{{round}}
                    <br />
                    {{{showDesc}}}
                    {{#if isAdm}}
                      <br />
                      {{{hideDesc}}}
                    {{/if}}
                  </div>
                </section>
              {{/isolate}}
            {{/each}}
          {{else}}
            目前沒有任何資料！
          {{/if}}
        </div>
      </section>
    {{/isolate}}
    {{#isolate}}
      <section>
        <header>
          地型資訊
          {{#if isAdm}}
            <a href="javascript:" class="pull-right" data-fn="add" data-type="land" title="新增地型">新增</a>
            <a href="javascript:" class="pull-right" data-fn="editAll" data-type="land" title="編輯全部地型">編輯全部</a>
            <a href="javascript:" class="pull-right" data-fn="edit" data-type="land" title="編輯已展開的地型">編輯所選</a>
          {{/if}}
        </header>
        <div class="content" style="display:none;">
          {{#if hasAffect}}
            {{#each allAffect}}
              {{#isolate}}
                <section data-id="{{_id}}">
                  <header>
                    {{name}}
                  </header>
                  <div class="content" style="display:none;">
                  </div>
                </section>
              {{/isolate}}
            {{/each}}
          {{else}}
            目前沒有任何資料！
          {{/if}}
        </div>
      </section>
    {{/isolate}}
    {{#isolate}}
      <section>
        <header>
          單位資訊
          {{#if isAdm}}
            <a href="javascript:" class="pull-right" data-fn="add" data-type="unit" title="新增單位">新增</a>
            <a href="javascript:" class="pull-right" data-fn="editAll" data-type="unit" title="編輯全部單位">編輯全部</a>
            <a href="javascript:" class="pull-right" data-fn="edit" data-type="unit" title="編輯已展開的單位">編輯所選</a>
          {{/if}}
        </header>
        <div class="content" style="display:none;">
          {{#if hasAffect}}
            {{#each allAffect}}
              {{#isolate}}
                <section data-id="{{_id}}">
                  <header>
                    {{name}}
                  </header>
                  <div class="content" style="display:none;">
                  </div>
                </section>
              {{/isolate}}
            {{/each}}
          {{else}}
            目前沒有任何資料！
          {{/if}}
        </div>
      </section>
    {{/isolate}}
  {{/if}}
  -->