<template name="main_record">
  <div id="main_record">
    <header>
      <h1> {{title}} </h1>
    </header>
    <nav>
      <ul class="breadcrumb">
        {{#each allSection}}
          <li><a href="javascript:" class="goSection" data-id="{{this._id}}"> {{this.name}} </a> <span class="divider">/</span></li>
        {{/each}}
          <li><a href="javascript:" class="addSection">新增一節</a></li>
      </ul>
    </nav>
    {{#each allSection}}
      {{> chapter_section}}
    {{/each}}
  </div>
</template>

<template name="chapter_section">
  <section id="{{_id}}">
    <header>
      <h2>
        {{this.name}}
        {{#if isAdm}}
          <i class="icon-pencil" title="編輯標題"></i>
        {{/if}}
        <i class="icon-eye-open" title="選取全段落"></i>
        <i class="icon-eye-close" title="全段落取消選取"></i>
        <i class="icon-filter" title="選取特定時間之後更新的段落"></i>
      </h2>
    </header>
    <div class="content" style="display:none;">
      {{#each allParagraph}}
        {{> chapter_section_paragraph}}
      {{/each}}
      <aside class="tool">
        {{#if isAdm}}
          <a href="javascript:" class="addParagraph" title="此章節尾端添加內容">添加</a>
        {{/if}}
        <a href="javascript:" class="outside" title="場外發言，並紀錄在本章節尾部">場外</a>
        <a href="javascript:" class="wait" title="指示系統此章節正等待某位玩家或DM行動">等待</a>
        {{#if isPlayer}}
          <a href="javascript:" class="dice" title="進行擲骰，並紀錄在本章節尾部">擲骰</a>
        {{/if}}
        <a href="{{mapLink}}" class="map" title="查看與本章節有關的戰場地圖" target="_blank">地圖</a>
        <a href="javascript:" class="top">回到頁首</a>
      </aside>
      <aside class="outside">
        {{> chapter_section_outside}}
      </aside>
    </div>
    <hr />
  </section>
</template>

<template name="chapter_section_paragraph">
  <article data-id="{{this._id}}">
    <header class="tool">
      <div class="notEditing">
        <a href="javascript:" class="blur" title="取消選取此段落">取消選取</a>
        {{#if this._id}}
          <a href="javascript:" class="addBefore" title="在此段落前新增段落">插入</a>
          <a href="javascript:" class="addAfter" title="在此段落後新增段落">接續</a>
        {{/if}}
        {{#if canEdit}}
          <a href="javascript:" class="edit" title="編輯此段落">編輯</a>
          <a href="javascript:" class="delete" title="刪除此段落">刪除</a>
        {{/if}}
      </div>
      <div class="inEditing">
        <a href="javascript:" class="submit">送出修改</a>
        <a href="javascript:" class="cancel">取消修改</a>
      </div>
    </header>
    <div class="paragraph">
      <p>{{#if content}}{{{content}}}{{else}}本節目前無內容。{{/if}}</p>
    </div>
    {{#if this.time}}
      <footer>
        <time>本文最後由 {{getNick this.user}} 於 {{timeChinese this.time}} 編輯</time>
      </footer>
    {{/if}}
  </article>
</template>

<template name="chapter_section_outside">
  <ul>
    {{#each allOutside}}
      <li>
        <span>{{timeChinese this._id}}</span>
        {{#if typeOutside}}
          <span>{{getNick this.user}}：</span>
          <span>{{msg}}</span>
        {{/if}}
        {{#if typeDice}}
          {{#if this.result}}
            {{#if this.isHide}}
              <span class="badge badge-inverse">暗骰</span>
            {{/if}}
            <span>{{getNick this.user}}為{{this.who}}擲了一次{{this.name}}骰{{#if this.note}}（{{this.note}}）{{/if}} {{this.diceResult}}</span>
          {{else}}
            <span>擲骰結果載入中...</span>
          {{/if}}
        {{/if}}
      </li>
    {{/each}}
  </ul>
</template>