<template name="main_room">
  <h1>{{title}}</h1>
  <section>
    <h2>狀態：{{status}}</h2>
    <div>
      {{{desc}}}
    </div>
    {{#if canApply}}
      <a href="javascript:" class="apply">申請加入</a>
    {{/if}}
  </section>

  {{#if isAdm}}
    {{> main_room_applying}}
  {{/if}}
  <section>
   <h2>章節區</h2>
    <ul class="breadcrumb">
      {{#each allChapters}}
        <li><a href="/room/{{this.room}}/{{this._id}}/"> {{this.name}} </a> <span class="divider">/</span></li>
      {{/each}}
      {{#if isAdm}}
        <li><a href="javascript:" class="addChapter">新增章節</a></li>
      {{/if}}
    </ul>
  </section>
  <section>
    <h2>角色區</h2>
    <ul class="breadcrumb">
      {{#each allCharacters}}
        <li><a href="/character/{{this.room}}/{{this._id}}/"> {{this.name}} </a> <span class="divider">/</span></li>
      {{/each}}
      {{#if isPlayer}}
        <li><a href="javascript:" class="addCharacter">新增角色</a></li>
      {{/if}}
    </ul>
  </section>
</template>

<template name="main_room_applying">
  <section class="applying">
    <h3>申請中名單：</h3>
    <ul>
      {{#each applying}}
        <li>
          {{getNick user}}({{this.user}})，申請理由：{{applyText}}
          <br />
          <a href="javascript:" class="btn btn-primary agree" data-id="{{this.user}}">允許</a>
          <a href="javascript:" class="btn refuse" data-id="{{this.user}}">拒絕</a>
        </li>
      {{/each}}
    </ul>
  </section>
</template>