#message {
  .layout_content {
    padding: 0;

    i {
      cursor: pointer;
    }
    .openFilter, .closeFilter {
      position: absolute;
      top: 15px;
      right: 25px;
    }
    .closeFilter {
      display: none;
    }
    .openChat, .closeChat {
      position: absolute;
      bottom: 15px;
      right: 25px;
    }
    .closeChat {
      display: none;
    }

    #message_filter, #message_chat {
      position: absolute;
      padding: 5px 10px;
      display: none;
      width: 100%;
      height: 50px;
    }
    #message_filter {
      top: 0;
      left: 0;
      border-bottom: 1px solid #2fa4e7;

      label {
        //覆寫bootstrap
        margin: 0;
      }
      label.checkbox-inline {
        margin-left: 15px;
      }
    }
    #message_chat {
      bottom: 0;
      left: 0;
      border-top: 1px solid #2fa4e7;

      label {
        width: 100%;
        input {
          width: 80%;
        }
      }
    }

    #message_listWrapper {
      padding: 0;
      width: 100%;
      height: 100%;

      #message_list {
        width: 100%;
        height: 100%;
        overflow-y: auto;
      }
    }
  }
}

#message.filterOpened {
  .openFilter {
    display: none;
  }
  .closeFilter {
    display: inline;
  }
  #message_filter {
    display: block;
  }
  #message_listWrapper {
    padding-top: 52px;
  }
}

#message.chatOpened {
  .openChat {
    display: none;
  }
  .closeChat {
    display: inline;
  }
  #message_chat {
    display: block;
  }
  #message_listWrapper {
    padding-bottom: 52px;
  }
}