#dice_dialog {
  input.input-long {
    width: 350px;
  }
  input.input-medium {
    width: 120px;
  }
  input.input-mini {
    width: 80px;
  }

  .auto-complete {
    position: relative;
    
    ul.typeahead {
      width: 100%;
      max-height: 100px;
      overflow-y: auto;
      
      li {
        padding: 0 3px 0 3px;
      }
    }
  }
}
